@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .text-shadow-lg {
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

body {
  @apply bg-slate-50 font-sans text-text-primary antialiased;
}
